{% extends 'pelisapp/base.html' %} {% load static %} {% block contenido %}

<div class="container">

    <div class="bg-dark m-5 p-3 col-12">

        <div class="bg-dark text-center text-light pt-sm-4 pb-sm-4">
            <h2>AGREGAR NUEVA PELICULA</h2>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <table class="text-light justify-content-center pt-sm-4 pb-sm-4">
                {{ form.as_table }}

            </table>


            <input class="btn btn-dark border-light m-sm-3" type="submit" value="Guardar">


            <input class="btn btn-dark border-light m-sm-3" type="reset" value="Limpiar">


            <p class="text-light text-center m-sm-3 pt-sm-4 pb-sm-4">
                {{ mensaje}}
            </p>


        </form>
    </div>

</div>
{% endblock %}